.commandHistory {
	overflow-y: scroll;
	max-height: 95%;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	display: flex;
	flex-direction: column-reverse;
}
.commandHistory::-webkit-scrollbar {
	display: none;
}
.commandHistory li {
	list-style-type: '';
}
input, input:focus-visible {
	outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.PS1 {
	color: #ffb703;
}
.commandLine {
	position: absolute;
	left: 0.2rem;
	width: 100%;
}
.commandLine input {
	font-size: 20pt;
	font-family: 'Monaco';
	width: 80%
}
.terminal {
	margin: 0.2rem;
	border-radius: 5px;
	border: solid 2px #00b4d8;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	padding: 0.2rem;
}
.terminalColors {
	color: #f0ead2;
	background-color: #2b2d42;
}
.terminalColors input {
	color: #f0ead2;
	background-color: #2b2d42;
}
.hidden {
	display: none;
}
.indented {
	margin-left: 30pt;
}
.githubStats {
	padding: 10pt;
}
