:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base0:  #839496;
  --base1:  #93a1a1;
  --yellow: #b58900;
  --blue:   #268bd2;
  --cyan:   #2aa198;
  font-size: 14px;
}

html {
    scrollbar-width: none; /* For Firefox */
}
html::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Edge */
}

body {
  margin: 0;
  font-family: 'Monaco', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base03);
  background-image: url(../public/wallpaper-flor.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--base0);
}

@font-face {
	font-family: 'Monaco';
	src: local('Monaco'), url(./fonts/Monaco.ttf) format('truetype');
}

code {
  font-family: Monaco, source-code-pro, Menlo, Consolas, 'Courier New',
    monospace;
}
